<h1>Your Cart</h1>
<div class="cart-contents"></div>

<div class="col-25">
  <div class="container">
    <h4>Cart
      <span class="price" style="color:black">
        <i class="fa fa-shopping-cart"></i>
        <b>4</b>
      </span>
    </h4>
    <p><a href="#">Iron Man</a> <span class="price">$15</span></p>
    <p><a href="#">Superman</a> <span class="price">$15</span></p>
    <p><a href="#">The Dark Knight</a> <span class="price">$8</span></p>
    <p><a href="#">The Avengers</a> <span class="price">$12</span></p>
    <hr>
    <p>Total <span class="price" style="color:black"><b>$50</b></span></p>
  </div>
</div>


{{link-to 'Checkout' 'checkout'}}
